
.article {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    width: 95%;

    margin: 0 0 6em 0;
    padding: 0.5em;
}

.heading {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;

    width: 100%;
}

.name {
    font-size: 2em;
}

.caption {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.link {
    width: fit-content;
    margin: 0 1em 0 0;
    font-size: 1.2em;

}

.links {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: baseline;
    justify-content: flex-start;

    width: 100%;

    margin: 0.5em 0 0 0;
}

.techs {
    display: flex;
    display: -webkit-flex;

    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: flex-start;

    width: 100%;
}

.overview {
    width: 100%;

    margin: 2em 0.2em 0 0.2em;
    padding: 0;

    text-align: left;
}

.iconContainer {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    width: 90px;
    height: 90px;

    margin: 0;
    padding: 0;

    text-align: center;

}

.icon {
    width: 40px;
    height: 40px;

    margin: 0.5em;

    border-radius: 50%;
}

.li {
    margin: 1em 0;
    list-style: circle;
}
