.footer {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: 95%;

    padding-bottom: 1em;
}

.attributions {
    font-size: 0.5em;
}

.contact {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin-left: auto;

    font-size: 1.5em;
}

.icon {
    width: 36px;
    height: 36px;

    margin: 0 0.5em;
}