.header {
    position: sticky;
    top: 0;

    width: 95%;
    height: 70px;

    margin: 0;

    background-color: inherit;
}



.container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: inherit;
}