
.section {
    margin-top: 0;
    justify-content: space-evenly;
}

.h1 {
    font-family: monospace;
    font-size: 2.2em;
    margin: 0.3em 0;
    text-align: center;
    width: 100%;
}

.h2 {
    font-family: monospace;
    width: 80%;
    margin-bottom: 0.2em;
    text-align: left;
}

.article {
    width: 300px;

    margin: 0 0 2em 0;
    padding: 0.5em;
}

.container {
    display: flex;
    display: -webkit-flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
}
.textContainer {
    padding: 1em;
}

.greeting {
    font-size: 5em;
    text-align: center;
}
.nutshell {
    font-size: 1.3em;
    text-align: center;
}
.tagline {
    font-size: 1.3em;
    text-align: center;
}

.circleContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    min-width: 300px;
    min-height: 300px;

    border-radius: 50%;
    border: #373d49 5px solid;
}

