
.container {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;

    width: 100%;
    height: 50px;
}

.menuVisible {
    position: fixed;
    top: 0;
    right: 1em;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: center;

    width: 90%;
    height: 100%;

    margin: 0;
    padding: 1em;

    background-color: #121212;
    opacity: 80%;

}

.menuNotVisible {
    display: none;
}

.icon {
    width: 48px;
    height: 48px;

}

.navItem {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    justify-content: flex-start;

    width: 100%;

    font-size: 4em;
    list-style: none;
}

.navItemSub {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    justify-content: flex-end;

    width: 100%;

    font-size: 2em;
}

.navButton {
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;

    color: springgreen;
    font-weight: bold;
    font-size: 1.6em;
}

.navButton:hover {
    color: springgreen;
    cursor: pointer;
}


.innerButton {
    color: hotpink;
}
.innerButton:hover {
    color: springgreen;
}

.navBarContainer {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;

    width: 100%;
    height: 50px;
}


.navBar {
    display: flex;
    display: -webkit-flex;

    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    margin: 0;
    padding: 0;
}

.navBarItem {
    width: fit-content;

    font-size: 1.5em;

    margin: 0.5em 1em 0.2em 1em;

    list-style: none;

}


@media screen and (min-width: 640px) {
    .navButton {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .navBarContainer {
        display: none;
    }
}
