

.container {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    justify-content: flex-end;

    width: 100%;
    height: 50px;

    background-color: inherit;
}

.menuVisible {
    position: fixed;
    top: 0;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    width: 90%;
    height: 100%;

    margin: 0;
    padding: 1em;

    background-color: inherit;
    opacity: 90%;

}

.menuNotVisible {
    display: none;
}

.icon {
    width: 48px;
    height: 48px;

}

.navItem {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    justify-content: flex-start;

    width: 100%;

    font-size: 4em;
    list-style: none;
}

.navItemSub {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    justify-content: flex-end;

    width: 100%;

    font-size: 2em;
}

.navButton {
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;

    color: #00e28d;
    font-weight: bold;
    font-size: 1.6em;
}

.innerButton {
    color: #e55da2;
}

.navBarContainer {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;

    width: 100%;
    height: 50px;

    background-color: inherit;
}


.navBar {
    display: flex;
    display: -webkit-flex;

    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    margin: 0;
    padding: 0;

    background-color: inherit;
}

.navBarItem {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 150px;

    font-size: 1.5em;
    text-align: center;

    margin: 0.5em 1em 0.2em 1em;

    background-color: inherit;
    list-style: none;

}

.dropdownButton {
    display: block;
    position: relative;
    top: 3px;

    margin-left: 1em;

    background-color: transparent;
    border: none;
}

.dropdownButton:hover {
    cursor: pointer;
}

.dropdownIcon {
    width: 24px;
    height: 24px;

    transform: rotate(90deg);
}

.dropdownVisible {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    position: absolute;
    z-index: 1;
    top: 0;

    padding: 0.5em 1em;

    background-color: inherit;
    opacity: 100%;

    border-radius: 5px;
}

.dropdownNotVisible {
    display: none;
}

.dropdownItem {
    width: fit-content;

    margin: 0.4em 0;

    font-size: 1em;

    list-style: none;
}


@media screen and (min-width: 640px) {
    .navButton {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .navBarContainer {
        display: none;
    }
}
