
.article {
    width: 80%;

    margin: 0 0 6em 0;
    padding: 0.5em;

    background-color: #292d3e;

    border: #373d49 5px solid;
    border-radius: 5px;
}

.container {
    display: flex;
    display: -webkit-flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
}

.caption {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0.5em;
}

.iconContainer {
    display: flex;
    display: -webkit-flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;
    margin: 0;
}

.textContainer {

    margin: 2em 0.2em 0 0.2em;
    padding: 0;
}

.li {
    margin: 1em 0;
    list-style: none;
}

.buttonContainer {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    margin: 1em 1em;

}

.button {
    width: 150px;

    margin: 1em 0;
    padding: 1em;

    background-color: transparent;

    border: #373d49 ridge 4px;
    border-radius: 5px;

    box-shadow: 2px 4px #121212;

    font-size: 1em;
    color: hotpink;
}

.button:hover {
    color: springgreen;
    cursor: pointer;
}
