
.article {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    width: 95%;

    margin: 0 0 4em 0;
    padding: 0.5em;

}

.container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    margin: 0;
    padding: 0;
}

.containerCol {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;

    margin: 1em;
}

.skillContainer {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: 132px;

    margin: 0 1em 2em 1em;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0.5em;

    border-radius: 50%;
}


