
/* Theme Button */

.themeButton {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;

    width: 54px;
    height: 30px;
}

.themeButton input {
    width: 0;
    height: 0;

    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #383838;
    border: #121212 solid 1px;
    border-radius: 30px;

    cursor: pointer;

    transition: .4s;
    -webkit-transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;

    left: 4px;
    bottom: 3px;

    width: 22px;
    height: 22px;

    background-color: white;
    border-radius: 50%;

    transition: .4s;
    -webkit-transition: .4s;
}

input:checked + .slider:before {
    background-color: #f5f5f5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #121212;
}

input:checked + .slider:before {
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
}

/* Light/Dark Theme */

.light {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #f5f5f5;
    color: #121212;

}

.dark {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #121212;
    color: #f5f5f5;
}
