
@import "normalize.css";

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;


  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

section, article {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  height: 1px;
}

h2 {
  width: 95%;
  font-size: 3em;
  text-align: left;
  margin: 0 0 0.5em 0;
}

h3 {
  font-size: 1.5em;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited, a:link, a:active {
  color: #e55da2;
}
a:hover {
  color: #00e28d;
}

.anchor {
  /* Offset sticky header
  https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors/28824157#28824157
  */
  content: "";
  display: block;
  height: 70px; /* fixed header height*/
  margin: -70px 0 0; /* negative fixed header height */
}

