
.container {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}

.barContainer {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    width: 95%;
    height: 25px;

    margin: 0;
    padding: 1em 1em 1em 0;


}

.barPart {
    width: 100%;
    height: 25px;

    font-style: italic;
    font-size: 0.8em;
    line-height: 2em;
}
.partContainer {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.label {
    font-size: 0.7em;
    font-style: italic;
}